<div class="custom-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h1 class="hero-heading">Sign up</h1>
          <div  class="line js-line mx-auto mb-3 my-3"></div>
          <p class="sub-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-grey">
    <div class="container p-5">

      <div class="block">
        <div class="row justify-content-center">


          <div class="col-md-12 col-lg-12 pb-4" data-aos="fade-up" data-aos-delay="200">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <%= f.label :first_name, class:"text-black" %><br />
                    <%= f.text_field :first_name, class:"form-control", id:"fname" %>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <%= f.label :last_name, class:"text-black" %><br />
                    <%= f.text_field :last_name, class:"form-control", id:"lname" %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :email, class:"text-black", for:"email" %><br />
                <%= f.email_field :email, class:"form-control" %>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <%= f.label :password, class:"text-black" %>
                       <% if @minimum_password_length %>
                         <em>(<%= @minimum_password_length %> characters minimum)</em>
                       <% end %><br />
                    <%= f.password_field :password, class:"form-control" %>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <%= f.label :password_confirmation,class:"text-black" %><br />
                    <%= f.password_field :password_confirmation, class:"form-control"%>
                  </div>
                </div>
              </div>

               <%= f.submit "Sign up", class:"btn btn-primary" %>
            <% end %>

          </div>

        </div>
      </div>
    </div>
  </div>
