<ul class="children">
<%= form_with model: [@post, @comment] do |f| %>
    <div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Leave a reply</h3>
    <%= f.hidden_field :parent_id %>

    <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class:"form-control" %>
    </div>
 
    <%= f.hidden_field :user_id, value: current_user.id if current_user %>

    <div class="form-group">
        <%= f.submit 'Post Reply', class:"btn btn-primary btn-md"  %>
    </div>

<% end %>
</ul>