<%= form_with model: [:admin, @post_category] do |f| %>
<% if post_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_category.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
            <%= f.label :name , class:"text-black", for:"name" %>
            <%= f.text_field :name, class:"form-control", id:"fname"%>
    </div>

    <div class="form-group">
            <%= f.label :image , class:"text-black", for:"message" %>
            <%= f.file_field :image, class:"form-control" %>
    </div>

<div class="form-group">
  <%= f.label :active, class: 'control control--checkbox' do %>
    <span class="caption">Active</span>
    <%= f.check_box :active, checked: true %>
    <div class="control__indicator"></div>
  <% end %>
</div>

    <%= f.submit 'Create Category', class:"btn btn-primary", type:"submit"%>
<% end %>