<div class="custom-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h1 class="hero-heading"><%= @post.title %></h1>
          <div  class="line js-line mx-auto mb-3 my-3"></div>
          <p class="sub-text">By <%= @post.user.full_name %> <span class="mx-3">&bullet;</span> on <%= @post.created_at.strftime("%B %e, %Y") %> </p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container article">
      <div class="row justify-content-center align-items-stretch">

        <article class="col-lg-8 order-lg-2 px-lg-5">
          <p><%= @post.body %></p>

          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

          <h3>Even the all-powerful...</h3>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>

          <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>

          <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>


          <div class="pt-5 categories_tags ">
            <p>Categories:  <a><%= @post.post_category.name %></a>,   Tags: <a href="#">#html</a>, <a href="#">#trends</a></p> More from this aurthor: <a><%= link_to @post.user.full_name, user_path(@post.user) %></a></p>
          </div>

          <div class="post-single-navigation d-flex align-items-stretch">
            <a href="#" class="mr-auto w-50 pr-4">
              <span class="d-block">Previous Post</span>
              A Mounteering Guide For Beginners
            </a>
            <a href="#" class="ml-auto w-50 text-right pl-4">
              <span class="d-block">Next Post</span>
              12 Creative Designers Share Ideas About Web Design
            </a>
          </div>

<div class="pt-5">
            <h3 class="mb-5">6 Comments</h3>
            <ul class="comment-list">
            <% @post.comments.each do |comment| %>
              <li class="comment">
              
                <div class="vcard bio">
                  <img src="images/person_6-min.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3><%= comment.user.full_name %></h3>
                  <div class="meta"><%=  comment.created_at.strftime("%B %e, %Y") %></div>
                  <p><%= comment.body %></p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>
              </li>
            <% end %>  
            </ul>

            <!-- END comment-list -->
          
            <%= form_with model: [:admin, @post, @post.comments.build] do |f| %>
              <div class="comment-form-wrap pt-5">
              <h3 class="mb-5">Leave a comment</h3>

                <div class="form-group">
                  <%= f.label :body %>
                  <%= f.text_area :body, class:"form-control" %>
                </div>
 
                <%= f.hidden_field :user_id, value: current_user.id if current_user %>
               
              
                <div class="form-group">
                  <%= f.submit 'Post Comment', class:"btn btn-primary btn-md"  %>
                </div>
            <% end %>

          </div>

        </article>

        <div class="col-md-12 col-lg-1 order-lg-1">
          <div class="share sticky-top">
            <h3>Share</h3>
            <ul class="list-unstyled share-article">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-pinterest"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 mb-5 mb-lg-0 order-lg-3">

          <div class="mb-4">
            <a>
              <span class="play-wrap"><span class="icon-play"></span></span>
              <% if @post.image.attached? %>
                 <%= image_tag(@post.image, alt:"Image", class:"img-fluid rounded") %>
              <% end %>
            </a>
          </div>  

          <div class="share floating-block sticky-top">

            <h2 class="mb-3 text-black">Subscribe to Newsletter</h2>
            <p>Far far away behind the word mountains far from.</p>
            <form action="#">
              <input type="email" class="form-control mb-2" placeholder="Enter email">
              <input type="submit" value="Subscribe" class="btn btn-primary btn-block">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
