<div class="custom-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h1 class="hero-heading">Log in</h1>
          <div  class="line js-line mx-auto mb-3 my-3"></div>
          <p class="sub-text">Logging in allows you to interact with our community, comment to your favorite posts, and more.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-grey">
    <div class="container p-5">

      <div class="block">
        <div class="row justify-content-center">


          <div class="col-md-12 col-lg-12 pb-4" data-aos="fade-up" data-aos-delay="200">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email, class:"text-black", for:"email" %><br />
                <%= f.email_field :email, class:"form-control" %>
              </div>

                  <div class="form-group">
                    <%= f.label :password, class:"text-black" %>
                    <%= f.password_field :password, class:"form-control" %>
                  </div>

                <% if devise_mapping.rememberable? %>
                 <div class="form-group">
                      <%= f.label :remember_me, class: 'control control--checkbox' do %>
                       <span class="caption">Remember me</span>
                      <%= f.check_box :remember_me %>
                     <div class="control__indicator"></div>
                     <% end %>
                 </div>
                <% end %>
    

               <%= f.submit "Log in", class:"btn btn-primary" %>
            <% end %>

          </div>

        </div>
      </div>
    </div>
  </div>
<%= render "devise/shared/links" %>
